{
  "trailingComma": "all",
  "plugins": [
    "@trivago/prettier-plugin-sort-imports"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderGroupNamespaceSpecifiers": true,
  "importOrderCaseInsensitive": true,
  "importOrder": [
    "^react$",
    "^@mui/icons-material/(.*)$",
    "^@mui/(.*)$",
    "<THIRD_PARTY_MODULES>",
    "^@/components/(.*)$",
    "^@/graphql/(.*)$",
    "^@/helpers/(.*)$",
    "^@/app/(.*)$",
    "^@/assets/(.*)$",
    "^\\.+/.+$"
  ]
}
