{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderGroupNamespaceSpecifiers": true,
  "importOrderCaseInsensitive": true,
  "importOrder": ["<THIRD_PARTY_MODULES>", "^[./]"]
}
